# Please run "cp .env.example .env" and modify the configuration as required

# LLM Provider (openai | anthropic | google)
MODEL_PROVIDER=your_llm_provider
# Model name
MODEL_NAME=model_name
# API Key
API_KEY=sk-your_api_key
# Base URL
BASE_URL=https://api_of_llm_provider.com


